footer {
  width: 100%;
  height: 340px;
  @include flex-column;
  .about {
    width: 100%;
    height: 250px;
    background: #353c65;
    @include flex;
    section {
      width: $article;
      height: 110px;
      text-align: center;
    }
  }
}
footer section h5 {
  &:first-child {
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    @include text(18px, 700, $Raleway, $color1);
    margin-bottom: 30px;
  }
  &:nth-child(2) {
    height: 20px;
    line-height: 20px;
    @include text(18px, 400, $Raleway, $color1);
    text-align: center;
    text-transform: capitalize;
  }
}
footer .copyright {
  width: 100%;
  height: 90px;
  background: #2c3154;
  @include flex;
  h5 {
    width: $article;
    height: 40px;
    line-height: 21.13px;
    @include text(18px, 400, $Raleway, #808080);
    text-align: center;
    span {
      color: $color1;
    }
  }
}
footer {
  .social {
    margin-top: 50px;
    img:not(:nth-of-type(3)) {
      margin-right: 25px;
    }
  }
}

@media screen and (max-width: 1024px) {
  footer {
    height: 230px;
    .about {
      height: 170px;
      section {
        width: 315px;
        height: 80px;
      }
    }
  }
  footer section h5 {
    &:first-child {
      height: 15px;
      line-height: 15px;
      font-size: 14px;
      margin-bottom: 15x;
    }
    &:nth-child(2) {
      height: 15px;
      line-height: 15px;
      font-size: 14px;
    }
  }
  footer .copyright {
    height: 60px;
    h5 {
      width: 315px;
      height: 30px;
      line-height: 16.44px;
      font-size: 14px;
    }
  }
  footer {
    .social {
      margin-top: 30px;
      img:not(:nth-of-type(3)) {
        margin-right: 25px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  footer {
    height: 540px;
    .about {
      height: 450px;
      @include flex-column;
      justify-content: space-evenly;
      section {
        width: 288px;
        height: 100px;
      }
    }
  }
  footer section h5 {
    &:first-child {
      height: 15px;
      line-height: 15px;
      font-size: 14px;
    }
    &:nth-child(2) {
      height: 15px;
      line-height: 15px;
      font-size: 13px;
      margin-top: 35px;
    }
  }
  footer .copyright {
    height: 90px;
    h5 {
      width: 280px;
      height: 32px;
    }
  }
  footer {
    .social {
      margin-top: 35px;
      img:not(:nth-of-type(3)) {
        margin-right: 15px;
      }
    }
  }
}
