$color1: #fff;
$color2: #2d3033;
$color3: #e71414;
$color4: #ff4343;
$color5: #babbc5;
$color6: #6c7279;
$Raleway: "Raleway", sans-serif;
$Cardo: "Cardo", italic;
$subcontainer: 1170px;
$article: 370px;
